<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
</head>
<body>
<h1>Login</h1>
<form action="/users/login" method="post">
  <div>
    <label for="login">Username:</label>
    <input type="text" id="login" name="login" required>
  </div>
  <div th:if="${errorMessage}">
    <p th:text="${errorMessage}"></p>
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
  </div>
  <div>
    <button type="submit">Login</button>
  </div>
</form>

</form>
</body>
</html>